*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #332f2c;
    margin: 0;
    padding: 0;
    background-color: #d2e0bf;
}


h1{
    font-size: calc(1.8em + 1vw);
    margin-bottom: 0;
}

#sub-h1{
    font-size: calc(0.8em + 1vw);
}

.img-container{
    max-width: 90%;
    margin: 10px auto;
}

#img-div{
    /* padding: 10px; */
    margin: 0;
}

img{
    max-width: 90%;
    max-height: 400px;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);;
}

#img-caption{
    font-size: calc(.4em + 1vw);
    padding-top: 10px;
}

#biografia{
    background-color: #FFF;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
    font-size: calc(.5em + 1vw);
    text-align: justify;
    line-height: 1.2em;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);;

}

#tribute-info{
    /* background-color: greenyellow; */
    margin: 20px auto;
    max-width: 80%;
    font-size: calc(.5em + 1vw);
}


#tribute-info li{
    list-style: none;
    text-align: justify;
}

#tribute-info li strong{
    padding-left: 10px;
}

#tribute-info li p{
    padding: 10px 20px;
}

#tribute-info li hr{
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 10px 20px -20px #333;
    margin: -40px auto 20px auto;

}

#linea-de-tiempo{
    margin-bottom: 10px;
}

cite{
    font-size: calc(.5em + 1vw);
}

.mas-datos{
    max-width: 80%;
    margin: 0 auto;
}

#mas-datos{
    text-align: left;
    padding: 20px 0;
    font-size: calc(.5em + 1vw);
}
